<div class="contenedor">

  <h1 class="titulo">Sistema de Gestión de Tesis</h1>

  <div class="seccion">
    <%= link_to "Agregar Tesis", new_nombre_path, class: "btn" %>
  </div>

  <div class="seccion">
    <%= link_to "Buscar Tesis por numero de control", buscar_nombres_path, class: "btn" %>
  </div>

  <div class="seccion">
    <%= link_to "Ver listado de Tesis", nombres_path, class: "btn" %>
  </div>

</div>