<h1 class="titulo">Iniciar sesión</h1>

<div class="contenedor-login">

  <div class="form-login">
    <%= form_with url: login_path, method: :post, local: true do %>

      <div class="campo">
        <label>Usuario</label>
        <%= text_field_tag :usuario, nil, class: "input" %>
      </div>

      <div class="campo">
        <label>Contraseña</label>
        <%= password_field_tag :password, nil, class: "input" %>
      </div>

      <%= submit_tag "Ingresar", class: "btn" %>

    <% end %>
  </div>

  <div class="info-login">
    <h3>Accesos rápidos</h3>

    <div class="usuario-box">
      <p><strong>Alumno</strong></p>
      <p>usuario: alumno</p>
      <p>contraseña: 1234</p>
    </div>

    <div class="usuario-box">
      <p><strong>Asesor</strong></p>
      <p>usuario: asesor</p>
      <p>contraseña: 1234</p>
    </div>

  </div>

</div>