<h2>Ingrese clave de seguridad</h2>

<%= form_with url: confirmar_eliminacion_nombre_path(@nombre), method: :post do %>

  <input type="hidden" name="motivo" value="<%= params[:motivo] %>">

  <div>
    <label>Clave:</label>
    <input type="password" name="clave" required>
  </div>

  <br>

  <%= submit_tag "Eliminar tesis" %>

<% end %>

<% if flash[:alert] %>
  <p style="color:red;"><%= flash[:alert] %></p>
<% end %>